*{
 margin:0;   
 padding:0;
 box-sizing: border-box;
 font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
 "Helvetica Neue", sans-serif;
}
body{
background-color: #161616;
overflow: hidden;
}
.container{
    max-width:1300px ;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.container .header{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 20px;
}
.container header:before{
    content: "ADIDAS";
    position: absolute;
    top:58%;
    left:57%;
    color:rgba(180,164,164,0.603);
    font-size: 150px ;
    opacity: 0.1;
    font-weight: bold;
    letter-spacing: 5px;
    z-index: -1;

}
.container .header i{
    color:white;
    cursor: pointer;
}
.container .header p{
    color:#fff;
    font-weight: bold;
    cursor: pointer;
    font-size: 25px;
}
.container .header .logo{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.container .header .logo-two{
    height: 4px;
}
.container .header .line{
  
    display: block;
    width: 45px;
    height:2px ;
    background-color: #fff;
    margin-bottom: 4px;
    margin-right: 4px;
}
/*ROW SECTION*/

.container .row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.container .col2{
    flex-basis: 50%;
    min-width:300px;
}
.container .row .col2 h1{
    color: #fff;
    font-size: 60px;
    line-height: 60px;
    font-weight: bolder;
    letter-spacing: 3px;
    margin:25px 0;
}
.container .row .col2 p{
    color:#fff;
    font-size: 14px;
    line-height: 30px;
}
.container .row .col2 .btn{
    display: inline-block;
    text-decoration: none;
    padding: 8px 20px;
    color:#fff;
    background-color: #E04848;
    border-radius: 35px;
    margin-top: 45px;
    font-weight: bold;
    font-size: 15px;
    transition: 1s all ease;

}
.container .row .col2 .btn:hover{
    background-color: #7a191b;
}

/*RING -SECTİON*/

.col2 .ring img{
    width: 100%;
    max-width: 580px;
}
#circle-ring{
    padding-left: 130px;
    padding-top: 60px;
}
.col2 .ring{
    position: relative;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 3px solid #3c3c3c;
    border-radius:50% ;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
    z-index:-1;
}

.col2 .ring:before{
    content:"";
    position: absolute;
    top:-3px;
    left:-3px;
    width: 100%;
    height: 100%;
    border:3px solid transparent;
    border-top: 3px solid #ef3ae0;
    border-right: 3px solid #ef3ae0;
    border-radius: 50%;
    z-index: -1;
    animation: returncircle 10s linear infinite;

}
.col2 .ring .circle{
    display: block;
    position: absolute;
    top:50%;
    left: 50%;
    width:50%;
    height:4px;
    background:transparent;
    transform-origin:left;
    z-index: -1;
    animation: return 10s linear infinite;
   

}

.col2 .ring .circle:before{
    content: "";
    position: absolute;
    top: -6px;
    right: -9px;
    width: 16px;
    height: 16px;
    background:#ef3ae0;
    border-radius: 50%;
    box-shadow: 0 0 20px #ef3ae0;
    z-index: -1;
}

.col2 .ring2{
    position: absolute;
    top: 13%;
    left: 56%;
    width:500px;
    height:500px;
    background:transparent ;
    border:3px solid #3c3c3c;
    border-radius: 50%;


}

.col2 .ring2:before{
    content:"";
    position: absolute;
    top:-3px;
    right:-3px;
    width: 100%;
    height: 100%;
    border: 3px solid transparent;
    border-bottom: 3px solid #fff12e;
    border-left: 3px solid #fff12e;
    border-radius: 50%;
    animation: returncircle2 10s linear infinite;
}   
.col2 .ring2 .circle2{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    width:50%;
    height : 4px;
    background:transparent;
    transform-origin: left;
    animation:return2 10s linear infinite;

}

.col2 .ring2 .circle2:before{
    content:"";
    position:absolute;
    top:-6px;
    right:-8px;
    width:16px;
    height:16px;
    background: #fff12e;
    box-shadow:0 0 20px #fff12e ;
    border-radius: 50%;
   
}


@keyframes returncircle {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes return{
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform: rotate(405deg);
    }
}
@keyframes returncircle2 {
    0%{
        transform: rotate(-45deg);
    }
    100%{
        transform: rotate(-405deg);
    }
}

@keyframes return2{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}





